head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src='/javascripts/jquery-2.1.1.min.js')
    script(src='/javascripts/bootstrap.min.js')

    style(type='text/css')
        body { padding-bottom: 40px; }
        .sidebar-nav { padding: 9px 0; }