doctype html
html
    include inc/header
    link(rel='stylesheet', href='/javascripts/My97DatePicker/skin/WdatePicker.css')
    script(src='/javascripts/web/public-input.js')

    body
    .navbar.navbar-default.navbar-static-top(role='navigation')
        include inc/menubar
    div.container
        h1= title
        - console.log('------------------------------------------')
    form#publicForm.form-horizontal(role="form" method='post' action='/public/insert')
        .form-group
            label.col-sm-2.control-label(for="inputVersion") 版本
            .col-sm-10
                input#inputVersion.form-control(type="text" placeholder="版本" value='' name='version')
        .form-group
            label.col-sm-2.control-label(for="inputAnTitle") 公告title
            .col-sm-10
                input#inputAnTitle.form-control(type="text" placeholder="公告title" value='' name='antitle')
        .form-group
            label.col-sm-2.control-label(for="inputAnTitle") 公告内容
            .col-sm-10
                input#inputAnTitle.form-control(type="text" placeholder="公告内容" value='' name='ancontent')
        .form-group
            label.col-sm-2.control-label(for="submit")
            .col-sm-10
                button#btnInsert.btn.btn-default(type="button") 提交


    include inc/footer